$border-radius: 15px;
$background-color: #00072B;
$font: "Quicksand", sans-serif;

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font;
  background: $background-color;
  background-size: cover;
}

main {
  --color-primary: #50D5FF;
  --color-primary-dark: #56CAEF;
  --color-secondary: white;
  --color-error: #cc3333;
  --color-success: #4bb544;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.container {
  width: 50rem;
  height: 35rem;
  //max-width: 80rem;
  margin: 1rem;
  padding: 2rem;
  z-index: 1;
  backdrop-filter: blur( 25px );
  border: 1px solid rgba( 255, 255, 255, 0.25 );
  border-right: 1px solid rgba( 255, 255, 255, 0.1 );
  border-bottom: 1px solid rgba( 255, 255, 255, 0.1 );
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 25px 45px rgba( 0, 0, 0, 0.25 )
}

.form {
  :first-child {
    margin-top: 0;
  }
  .input-group {
    .username {
      margin-top: 5rem;
    }
  }
  :last-child {
    margin-bottom: 0;
  }
}

.container,
.form__input,
.form__button {
  font: 500 1rem $font;
}

.form--hidden {
  display: none;
}


.title {
  margin-bottom: 2rem;
  text-align: center;
  color: white;
}

::-webkit-input-placeholder {
  color: white;
}

.message {
  text-align: center;
  margin-bottom: 1rem;
}

.message--success {
  color: var(--color-success);
}

.message--error {
  color: var(--color-error);
}

.input-group {
  margin-bottom: 1rem;
}

input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  outline: none;
  box-shadow: 0 25px 45px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 25px );
  border-radius: $border-radius;
  border: 1px solid rgba( 255, 255, 255, 0.1 );
  background: rgba( 255, 255, 255, 0.1 );
  &:focus {
    border-color: var(--color-primary);
    background: rgba( 255, 255, 255, 0.25 );
  }
}


.input--error {
  color: var(--color-error);
  border-color: var(--color-error);
}

.input-error-message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--color-error);
}

.button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: $border-radius;
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}

.button{
  &:hover {
    background: var(--color-primary-dark);
  }
  &:active {
    transform: scale(0.98);
  }
}

.text {
  text-align: center;
}

.link {
  color: var(--color-secondary);
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
