$border-radius: 15px;
$background-color: #00072b;
$font: "Quicksand", sans-serif;
$button-color: #0029ff;
$light-blue: #50d5ff;
$error: #cc3333;
$success: #4bb544;

@mixin neumorphism {
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.35),
    inset 20px 20px 25px rgba(0, 0, 0, 0.3),
    -4px -4px 20px rgba(255, 255, 255, 0.17),
    inset -5px -5px 30px rgba(255, 255, 255, 0.2);
}

// html {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-template-rows: 1fr 1fr 1fr;
// }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font;
  background: $background-color;
  background-size: cover;
  overflow: hidden;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 6fr 1fr;
  align-items: center;
  font-size: 18px;
}

.container {
  grid-column: 2;
  width: 90rem;
  height: 47rem;
  margin: 1rem;
  padding: 2rem;
  z-index: 1;
  grid-row: 2;
  // border: 1px solid rgba( 255, 255, 255, 0.25 );
  // border-right: 1px solid rgba( 255, 255, 255, 0.1 );
  // border-bottom: 1px solid rgba( 255, 255, 255, 0.1 );
  background: rgba(255, 255, 255, 0.01);
  border-radius: 10px;
  backdrop-filter: blur(15px);
  @include neumorphism;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.chat-history {

  padding: 30px 30px 20px;
  border-radius: 50px;
  color: white;

  .wrapper {
    padding-bottom: 65px;
  }

  .message-data {
    margin-bottom: 15px;
  }

  .message-data-time {
    color: lighten(grey, 2%);
    padding-left: 6px;
  }

  .message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 50px;
    margin-bottom: 30px;
    position: relative;
    max-width: 45%;
  
  }

  .my-message {
    background: #0029ff;
    float: left;
  }

  .other-message {
    background: grey;
  }
}

.float-right {
  float: right;
}

.align-right {
  text-align: right;
}

.chat-message {
  padding: 30px;
  display: flex;
  flex-direction: row;
  textarea {
    width: 1000px;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 50px;
    resize: none;
    line-height: 10px;
  //bottom: 20px;
  //transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: -1;
  }

  .fa-file,
  .fa-file-image,
  .fa-smile {
    font-size: 16px;
    color: white;
    cursor: pointer;

    &:hover {
      color: darken(white, 7%);
    }
    
  }
  button {
    background-color: transparent;
    border: none;
    align-self: flex-end;
    position: fixed;
    left: 48%;

    img{
    width: 10%;
    float: right;
    border: none;
    cursor: pointer;
    }
  }
  

}

.contact {
  //width: 90rem;
  grid-column: 1;
  grid-row: 1 / 4;
  height: 100%;
  padding: 2rem;
  z-index: 1;
  // border: 1px solid rgba( 255, 255, 255, 0.25 );
  // border-right: 1px solid rgba( 255, 255, 255, 0.1 );
  // border-bottom: 1px solid rgba( 255, 255, 255, 0.1 );
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );

  li {
    padding: 3rem 0 0 0;
    text-align: center;
    list-style-type: none;
    display: flex;
    img {
      width: 25%;
      border-radius: 50%;
      margin-right: 1.5rem;
    }
    a {
      color: white;
      text-decoration: none;
      font-family: $font;
      align-self: center;
    }
  }
}



.container,
.form__input,
.form__button {
  font: 500 1rem $font;
}



// --- BACKGROUND IMAGES -----------

@mixin bg-img {
  position: absolute;
  z-index: -5;
  filter: blur(2px);
}

.top-left {
  @include bg-img;
  top: -2rem;
  left: 8rem;
  width: 20%;
}
.bottom-left {
  @include bg-img;
  top: 15rem;
  right: 60rem;
  width: 75%;
}
.top-right {
  @include bg-img;
  top: -8rem;
  right: 15rem;
  width: 25%;
}
.bottom-right {
  @include bg-img;
  top: 40rem;
  right: 25rem;
}
.center-left {
  @include bg-img;
  filter: blur(70px);
  right: 65rem;
  width: 15%;
}

@mixin bubble {
  @include bg-img;
  height: auto;
  z-index: 2;
  border-radius: 50%;
  @include neumorphism;
  backdrop-filter: blur(4.5px);
  border: 0.5px solid rgba(255, 255, 255, 0.25);
  //background-color: #00072B
}
.bu1 {
  @include bubble;
  top: 2rem;
  left: 25rem;
  width: 12%;
}
.bu2 {
  @include bubble;
  top: 8rem;
  left: 18rem;
  width: 3.5%;
}
.bu3 {
  @include bubble;
  left: 32rem;
  bottom: 16rem;
  width: 8%;
  filter: blur(1.2px);
}

.bu4 {
  @include bubble;
  filter: blur(1.2px);
  left: 38rem;
  bottom: 6rem;
  width: 5%;
}

.bu5 {
  @include bubble;
  top: 2.5rem;
  right: 10rem;
  width: 9%;
}

.bu6 {
  @include bubble;
  top: 14rem;
  right: 18rem;
  width: 4%;
}

.bu7 {
  @include bubble;
  width: 8.5%;
  right: 21rem;
  bottom: 5rem;
}

