body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
  }
  
  .nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
  }
  
  .nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
  }
  
  #app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
  }
  
  a {
    color: #35180c;
  }
  
  h1 {
    font-size: 48px;
    /* Le border bottom ne fonctionne pas :'( */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  table {
    font-family: "Montserrat", sans-serif;
  }
  
  .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #df6333;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #df6333;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #df6333;
  }
  
  .dropdown-btn {
    font-size: 18px;
    padding: 12px 18px;
    text-decoration: none;
    font-weight: 500;
    color: #eeeeee;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    outline: none;
  }
  
  .dropdown-container {
    font-size: 14px;
    display: block;
    /*display: none;*/
    background-color: #393939;
    padding-left: 8px;
    color: #eeeeee;
  }
  
  .dropdown-btn:hover {
    background: rgba(255, 255, 255, 0.05);
  }